<div class="chart-container">
	<button class="chart-button-close">
		<span class="chart-button-text">Hide Chart</span>
		<span class="chart-button-icon-span">
			<svg class="chart-button-hide-icon" width="10" height="10">
				<use href="./symbol-defs.svg#chart-down"></use>
			</svg>
		</span>
	</button>
	<div class="average">
		<h4 class="average-title">Average</h4>
		<ul class="average-list">
			<li class="average-list-item">
				<div class="average-list-item-indicator indicator-temp"></div>
				<p class="average-list-item-text">
					— Temperature,<span class="temp-span"> C°</span>
				</p>
			</li>
			<li class="average-list-item">
				<div class="average-list-item-indicator indicator-humidity"></div>
				<p class="average-list-item-text">
					— Humidity,<span class="humidity-span"> %</span>
				</p>
			</li>
			<li class="average-list-item">
				<div class="average-list-item-indicator indicator-wind-speed"></div>
				<p class="average-list-item-text">
					— Wind Speed,<span class="wind-speed-span"> m/s</span>
				</p>
			</li>
			<li class="average-list-item">
				<div class="average-list-item-indicator indicator-pressure"></div>
				<p class="average-list-item-text">
					— Atmosphere Pressure,<span class="pressure-span"> m/m</span>
				</p>
			</li>
		</ul>
	</div>
</div>
