<section class="home home-one">
	<div class="container">
		<div class="days-wrapper">
			<p class="days-city-title"></p>
			<div class="days-inner-wrapper">
				<p class="days-current-temp">-</p>
				<div class="right-border">
					<p class="temp-min-max-title">min</p>
					<p class="min-max-temp" data-min-temp>-°</p>
				</div>
				<div>
					<p class="temp-min-max-title">max</p>
					<p class="min-max-temp" data-max-temp>°</p>
				</div>
			</div>
		</div>
		<div class="days-button-wrapper">
			<button class="days-button is-active" data-switch-one-day>today</button>
			<button class="days-button" data-switch-five-days>5 days</button>
		</div>
		<div class="date-wrapper">
			<div>
				<div class="current-day">
					<p class="date-day"></p>
					<p class="day-week"></p>
				</div>
				<div class="current-month-time">
					<p class="date-month"></p>
					<p class="date-time"></p>
				</div>
				<div class="sun-rise-set">
					<div class="sun-rise-set-inner border">
						<svg class="sun-rise-set-icon">
							<use href="/img/symbol-defs.svg#sunrise"></use>
						</svg>
						<p class="sunrise"></p>
					</div>
					<div class="sun-rise-set-inner">
						<svg class="sun-rise-set-icon">
							<use href="/img/symbol-defs.svg#sunset"></use>
						</svg>
						<p class="sunset"></p>
					</div>
				</div>
			</div>
		</div>
		<blockquote cite="" data-cite-block>
			<p class="cite-text">
				Who cares about the clouds when we're together? Just sing a song and
				bring the sunny weather.
			</p>
			<cite class="cite-author">Dale Evans</cite>
		</blockquote>
	</div>
</section>
