<section class="home">
	<div class="container">
		<div class="days-wrapper">
			<p class="days-city-title"></p>
			<div class="days-inner-wrapper">
				<p class="days-current-temp">-</p>
				<div class="right-border">
					<p class="temp-min-max-title">min</p>
					<p class="min-max-temp" data-min-temp>-°</p>
				</div>
				<div>
					<p class="temp-min-max-title">max</p>
					<p class="min-max-temp" data-max-temp>°</p>
				</div>
			</div>
		</div>
		<div class="days-button-wrapper">
			<button class="days-button is-active">today</button>
			<button class="days-button">5 days</button>
		</div>
	</div>
</section>
