<div class="container">
	<div class="three-day-container">
		<p class="three-days-city-title"></p>
		<ul class="three-days-city-list">
			<li>
				<div class="three-days-city-list-hight-item">
					<p class="three-days-city-list-weekday"></p>
					<p class="three-days-city-list-date"></p>
				</div>
			</li>
			<li>
				<div class="three-days-city-list-hight-item">
					<p class="three-days-city-list-weekday"></p>
					<p class="three-days-city-list-date"></p>
				</div>
			</li>
			<li>
				<div class="three-days-city-list-hight-item">
					<p class="three-days-city-list-weekday"></p>
					<p class="three-days-city-list-date"></p>
				</div>
			</li>
		</ul>
	</div>
</div>
