<div class="three-day-container" id="three-day-container">
	<p class="three-days-city-title"></p>
	<ul class="three-days-city-list">
		<li>
			<div class="three-days-city-list-hight-item">
				<p class="three-days-city-list-weekday"></p>
				<p class="three-days-city-list-date"></p>
			</div>
			<div class="three-days-city-list-min-max-wrapper">
				<div class="three-days-city-list-min-temp">
					<p class="three-days-city-list-min-temp-title">min</p>
					<p class="three-days-city-list-min-temp-deg"></p>
				</div>
				<div class="three-days-city-list-max-temp">
					<p class="three-days-city-list-max-temp-title">max</p>
					<p class="three-days-city-list-max-temp-deg"></p>
				</div>
			</div>
			<button class="three-days-city-list-more-button">more info</button>
			<button class="three-days-city-list-hide-button">hide info</button>
		</li>
		<li>
			<div class="three-days-city-list-hight-item">
				<p class="three-days-city-list-weekday"></p>
				<p class="three-days-city-list-date"></p>
			</div>
			<div class="three-days-city-list-min-max-wrapper">
				<div class="three-days-city-list-min-temp">
					<p class="three-days-city-list-min-temp-title">min</p>
					<p class="three-days-city-list-min-temp-deg"></p>
				</div>
				<div class="three-days-city-list-max-temp">
					<p class="three-days-city-list-max-temp-title">max</p>
					<p class="three-days-city-list-max-temp-deg"></p>
				</div>
			</div>
			<button class="three-days-city-list-more-button">more info</button>
			<button class="three-days-city-list-hide-button">hide info</button>
		</li>
		<li>
			<div class="three-days-city-list-hight-item">
				<p class="three-days-city-list-weekday"></p>
				<p class="three-days-city-list-date"></p>
			</div>
			<div class="three-days-city-list-min-max-wrapper">
				<div class="three-days-city-list-min-temp">
					<p class="three-days-city-list-min-temp-title">min</p>
					<p class="three-days-city-list-min-temp-deg"></p>
				</div>
				<div class="three-days-city-list-max-temp">
					<p class="three-days-city-list-max-temp-title">max</p>
					<p class="three-days-city-list-max-temp-deg"></p>
				</div>
			</div>
			<button class="three-days-city-list-more-button">more info</button>
			<button class="three-days-city-list-hide-button">hide info</button>
		</li>
	</ul>
	<div class="three-days-more-info-wrapper swiper" data-swiper-more-info>
		<ul class="three-days-more-info-list swiper-wrapper">
			<li class="three-days-more-info-list-item swiper-slide">
				<div class="three-days-more-info-list-item-wrapper">
					<p class="three-days-more-info-list-item-time">00:00</p>
				</div>
				<p class="three-days-more-info-list-item-current-temp"></p>
				<div class="three-days-more-info-list-item-esential-block">
					<div class="three-days-more-info-list-item-esential-block-info">
						<svg class="three-days-more-info-list-item-esential-block-icons">
							<use href="./symbol-defs.svg#barometer"></use>
						</svg>
						<p
							class="three-days-more-info-list-item-esential-block-pressure-data"
						></p>
					</div>
					<div class="three-days-more-info-list-item-esential-block-info">
						<svg class="three-days-more-info-list-item-esential-block-icons">
							<use href="./symbol-defs.svg#humidity"></use>
						</svg>
						<p
							class="three-days-more-info-list-item-esential-block-humidity-data"
						></p>
					</div>
					<div class="three-days-more-info-list-item-esential-block-info">
						<svg class="three-days-more-info-list-item-esential-block-icons">
							<use href="./symbol-defs.svg#wind"></use>
						</svg>
						<p
							class="three-days-more-info-list-item-esential-block-wind-data"
						></p>
					</div>
				</div>
			</li>
			<li class="three-days-more-info-list-item swiper-slide">
				<div class="three-days-more-info-list-item-wrapper">
					<p class="three-days-more-info-list-item-time">00:00</p>
				</div>
				<p class="three-days-more-info-list-item-current-temp"></p>
				<div class="three-days-more-info-list-item-esential-block">
					<div class="three-days-more-info-list-item-esential-block-info">
						<svg class="three-days-more-info-list-item-esential-block-icons">
							<use href="./symbol-defs.svg#barometer"></use>
						</svg>
						<p
							class="three-days-more-info-list-item-esential-block-pressure-data"
						></p>
					</div>
					<div class="three-days-more-info-list-item-esential-block-info">
						<svg class="three-days-more-info-list-item-esential-block-icons">
							<use href="./symbol-defs.svg#humidity"></use>
						</svg>
						<p
							class="three-days-more-info-list-item-esential-block-humidity-data"
						></p>
					</div>
					<div class="three-days-more-info-list-item-esential-block-info">
						<svg class="three-days-more-info-list-item-esential-block-icons">
							<use href="./symbol-defs.svg#wind"></use>
						</svg>
						<p
							class="three-days-more-info-list-item-esential-block-wind-data"
						></p>
					</div>
				</div>
			</li>
			<li class="three-days-more-info-list-item swiper-slide">
				<div class="three-days-more-info-list-item-wrapper">
					<p class="three-days-more-info-list-item-time">00:00</p>
				</div>
				<p class="three-days-more-info-list-item-current-temp"></p>
				<div class="three-days-more-info-list-item-esential-block">
					<div class="three-days-more-info-list-item-esential-block-info">
						<svg class="three-days-more-info-list-item-esential-block-icons">
							<use href="./symbol-defs.svg#barometer"></use>
						</svg>
						<p
							class="three-days-more-info-list-item-esential-block-pressure-data"
						></p>
					</div>
					<div class="three-days-more-info-list-item-esential-block-info">
						<svg class="three-days-more-info-list-item-esential-block-icons">
							<use href="./symbol-defs.svg#humidity"></use>
						</svg>
						<p
							class="three-days-more-info-list-item-esential-block-humidity-data"
						></p>
					</div>
					<div class="three-days-more-info-list-item-esential-block-info">
						<svg class="three-days-more-info-list-item-esential-block-icons">
							<use href="./symbol-defs.svg#wind"></use>
						</svg>
						<p
							class="three-days-more-info-list-item-esential-block-wind-data"
						></p>
					</div>
				</div>
			</li>
		</ul>
		<div class="swiper-scrollbar"></div>
	</div>
</div>
<button class="chart-button">
	<span class="chart-button-text">Show Chart</span>
	<span class="chart-button-icon-span">
		<svg class="chart-button-icon" width="10" height="10">
			<use href="./symbol-defs.svg#chart-down"></use>
		</svg>
	</span>
</button>
