<div class="container">
	<div class="three-day-container">
		<p class="three-days-city-title"></p>
		<ul class="three-days-city-list">
			<li>
				<div class="three-days-city-list-hight-item">
					<p class="three-days-city-list-weekday"></p>
					<p class="three-days-city-list-date"></p>
				</div>
				<div class="three-days-city-list-min-max-wrapper">
					<div class="three-days-city-list-min-temp">
						<p class="three-days-city-list-min-temp-title">min</p>
					</div>
					<div class="three-days-city-list-max-temp">
						<p class="three-days-city-list-max-temp-title">max</p>
					</div>
				</div>
			</li>
			<li>
				<div class="three-days-city-list-hight-item">
					<p class="three-days-city-list-weekday"></p>
					<p class="three-days-city-list-date"></p>
				</div>
				<div class="three-days-city-list-min-max-wrapper">
					<div class="three-days-city-list-min-temp">
						<p class="three-days-city-list-min-temp-title">min</p>
					</div>
					<div class="three-days-city-list-max-temp">
						<p class="three-days-city-list-max-temp-title">max</p>
					</div>
				</div>
			</li>
			<li>
				<div class="three-days-city-list-hight-item">
					<p class="three-days-city-list-weekday"></p>
					<p class="three-days-city-list-date"></p>
				</div>
				<div class="three-days-city-list-min-max-wrapper">
					<div class="three-days-city-list-min-temp">
						<p class="three-days-city-list-min-temp-title">min</p>
					</div>
					<div class="three-days-city-list-max-temp">
						<p class="three-days-city-list-max-temp-title">max</p>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>
