@import url('./header.css');
@import url('./home.css');

@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato-Italic.ttf') format('truetype');
	font-weight: 400;
	font-style: italic;
}

:root {
	--font-family: 'Lato', sans-serif;
}

* {
	padding: 0;
	margin: 0;
}

img {
	display: block;
	width: 100%;
}

ul,
ol {
	list-style-type: none;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 14px;
}

button {
	display: block;
	cursor: pointer;
}

a {
	text-decoration: none;
	color: currentColor;
	transition: color 250ms;
}

input,
select {
	outline: none;
}

.container {
	max-width: 320px;
	padding: 0 20px;
	margin: 0 auto;
}
