@import url('./header.css');
@import url('./one-day.css');
@import url('./three-day.css');
@import url('./chart.css');

@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato-Italic.ttf') format('truetype');
	font-weight: 400;
	font-style: italic;
}

:root {
	--font-family: 'Lato', sans-serif;
}

* {
	padding: 0;
	margin: 0;
}

img {
	display: block;
	width: 100%;
}

ul,
ol {
	list-style-type: none;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 14px;
}

button {
	display: block;
	cursor: pointer;
}

a {
	text-decoration: none;
	color: currentColor;
	transition: color 250ms;
}

input,
select {
	outline: none;
}

.container {
	max-width: 320px;
	padding: 0 20px;
	margin: 0 auto;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
	white-space: nowrap;
	border: 0;
}

.home {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding-top: 164px;
	padding-bottom: 32px;
}

.home-one {
	background-image: linear-gradient(
			to bottom,
			rgba(0, 0, 0, 0) 0%,
			rgba(0, 0, 0, 0.5) 100%
		),
		url(/img/mobile-one.jpg);
}
@media screen and (min-resolution: 192dpi) {
	.home-one {
		background-image: linear-gradient(
				to bottom,
				rgba(0, 0, 0, 0) 0%,
				rgba(0, 0, 0, 0.5) 100%
			),
			url(/img/mobile-one@2x.jpg);
	}
}

.home-three {
	background-image: linear-gradient(
			to bottom,
			rgba(0, 0, 0, 0) 0%,
			rgba(0, 0, 0, 0.8) 100%
		),
		url(/img/mobile-five.jpg);
	padding-top: 184px;
}
@media screen and (min-resolution: 192dpi) {
	.home-three {
		background-image: linear-gradient(
				to bottom,
				rgba(0, 0, 0, 0) 0%,
				rgba(0, 0, 0, 0.8) 100%
			),
			url(/img/mobile-five@2x.jpg);
	}
}
