.three-day-container {
	padding: 32px 30px 20px;
	border-radius: 34px;
	box-shadow: 0 5px 33px 0 rgba(16, 33, 54, 0.6);
	background: rgba(16, 33, 54, 0.8);
	display: none;
}

.three-days-city-title {
	font-weight: 700;
	font-size: 18px;
	text-align: center;
	color: #fff;
	margin-bottom: 20px;
}

.three-days-city-list {
	display: flex;
	justify-content: space-between;
}

.three-days-city-list-weekday {
	letter-spacing: 0.04em;
	text-align: center;
	color: #fff;
	opacity: 0.55;
	margin-bottom: 8px;
}

.three-days-city-list-date {
	font-size: 16px;
	letter-spacing: 0.04em;
	text-align: center;
	color: #fff;
	margin-bottom: 4px;
}

.three-days-city-list-min-max-wrapper {
	display: flex;
	margin-bottom: 4px;
}

.three-days-city-list-min-temp {
	padding-right: 5px;
	border-right: 1px solid #27384a;
}

.three-days-city-list-max-temp {
	padding-left: 5px;
}

.three-days-city-list-min-temp-title,
.three-days-city-list-max-temp-title {
	text-align: center;
	color: #767d85;
	line-height: 1.5;
}

.three-days-city-list-min-temp-deg,
.three-days-city-list-max-temp-deg {
	font-size: 11px;
	text-align: center;
	color: #ff6b09;
	line-height: 1.5;
}

.three-days-city-list-more-button {
	border: none;
	background-color: transparent;
	font-weight: 700;
	font-size: 12px;
	text-decoration: underline;
	text-decoration-skip-ink: none;
	text-align: center;
	color: #767d85;
	margin: 0 auto;
}

.three-days-more-info-list {
	display: flex;
}

.three-days-more-info-wrapper {
	margin-top: 20px;
}

.three-days-more-info-list-item {
	border: 1px solid rgba(255, 255, 255, 0.2);
	border-radius: 25px;
	padding: 20px 16px;
}

.three-days-more-info-list-item-time {
	text-align: center;
	color: #fff;
	opacity: 0.54;
	margin-bottom: 8px;
}
